.user-list {
  font-size: 12px;
  background-color: rgb(41, 41, 55);
  margin: 1px 0px 0px 0px;
}

.user-list:hover {
  background-color: rgb(60, 60, 70);
  cursor: pointer;
}

.chat-container {
  background-color: rgb(51, 51, 65);
  display: grid;
}

.chat-container > div {
  margin: 1px;
}

.ulist {
  list-style-type: none;
  width: 100%;
}

.chat-window {
  background-color: rgb(22, 19, 32);
  display: grid;
  margin: 1px;
  grid-column-start: 1;
  grid-column-end: 3;
  min-height: 400px;
}

.user-list-container {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
}
