.user-list {
  font-size: 14px;
  /* background-color: rgb(41, 41, 55); */
  margin: 1px 0px 0px 0px;
}

.user-list:hover {
  background-color: rgb(60, 60, 70);
  cursor: pointer;
}

.chat-container {
  /* background-color: rgb(51, 51, 65); */
  background-color: rgb(22, 19, 32);
  display: grid;
  grid-template-columns: 1fr 200px;
}

/* .chat-container > div {
  margin: 1px;
} */

.ulist {
  list-style-type: none;
  width: 100%;
}

.user-list-container {
  display: grid;

  justify-content: left;
  text-align: left;
  padding: 2%;
  background-color: #221b3a;
  /* margin: 5% 5% 5% 0;
  border-radius: 12px; */
}

.gray {
  color: #636363;
}

.blue {
  color: #1f93ff;
}

.cyan {
  color: #00dfd3;
}

.green {
  color: #7cff1e;
}

.yellow {
  color: #f7ff66;
}

.orange {
  color: #ffa557;
}

.pink {
  color: #ff5ca3;
}

.purple {
  color: #b251eb;
}

.chat-header {
  background-color: #1c1829;
  padding: 2% 0 2% 0;
  font-size: 21px;
  /* border-radius: 12px; */
}

.chat-scroll {
  overflow-y: auto;
  position: relative;
  max-height: 100%;
}

.chat-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #372e50;
}
.chat-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
.chat-scroll::-webkit-scrollbar-thumb {
  background-color: #484d79;
}
.chat-message {
  font-size: 14px;
  background-color: #221b3a;
  margin: 2px;
  text-align: left;
  padding: 3px 3px 3px 6px;
  border-radius: 6px;
}

.messages-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 150px;
  justify-content: left;
  text-align: left;
  padding: 2%;
  font-size: 14px;

  /* outline: solid red; */
}

.chat-user-name {
  font-weight: bold;
  cursor: pointer;
}

.special {
  color: white;
  background: -webkit-linear-gradient(-45deg, #954ed6 0%, #009bee 100%);
}

.self {
  font-style: italic;
}

.emote {
  height: 28px;
}

.badge {
  height: 28px;
}

.badge-container {
  background-color: #b251eb;
}
