.user-list {
  font-size: 14px;
  margin: 1px 0px 0px 0px;
}

.user-list:hover {
  background-color: rgb(60, 60, 70);
  cursor: pointer;
}

.chat-container {
  /* background-color: rgb(51, 51, 65); */
  background-color: rgb(22, 19, 32);
  /* display: grid;
  grid-template-columns: 1fr 200px; */
  /* border: solid cyan 2px; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
}

.chat-header-container {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.chat-title {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  font-size: 21px;
  width: 100%;
}
.toggle-users {
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.menu-option {
  cursor: pointer;
  color: cyan;
  margin: 0px 4px 0px 4px;
}

.ulist {
  list-style-type: none;
  width: 100%;
}

.user-list-container {
  display: grid;

  justify-content: left;
  text-align: left;
  padding: 2%;
  background-color: #221b3a;
  margin: 5px 5px 5px 0px;
  /* border-radius: 12px; */
  /* border: solid green 2px; */
}

.gray {
  color: #636363;
}

.blue {
  color: #1f93ff;
}

.cyan {
  color: #00dfd3;
}

.green {
  color: #7cff1e;
}

.yellow {
  color: #f7ff66;
}

.orange {
  color: #ffa557;
}

.pink {
  color: #ff5ca3;
}

.purple {
  color: #b251eb;
}

.chat-header {
  background-color: #1c1829;
  padding: 2% 0 2% 0;
  font-size: 21px;
  /* border-radius: 12px; */
}

.chat-scroll {
  overflow-y: auto;
  position: relative;
  /* position: relative;
  left: 0px;
  top: 0;
  bottom: 0;
  right: 0; */
  height: 100%;
}

.chat-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #372e50;
}
.chat-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
.chat-scroll::-webkit-scrollbar-thumb {
  background-color: #484d79;
}
.chat-message {
  font-size: 14px;
  background-color: #221b3a;
  margin: 2px;
  text-align: left;
  padding: 3px 3px 3px 6px;
  border-radius: 6px;
}

/* .messages-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  justify-content: left;
  text-align: left;
  padding: 2%;
  font-size: 14px;
  border: solid orange 2px;

 
} */

.messages-container {
  justify-content: left;
  text-align: left;
  padding: 2%;
  font-size: 14px;
  /* border: solid orange 2px; */
  display: flex;
  flex-direction: column;

  /* outline: solid red; */
}

.chat-user-name {
  font-weight: bold;
  cursor: pointer;
}

.special {
  color: white;
  background: -webkit-linear-gradient(-45deg, #954ed6 0%, #009bee 100%);
}

.self {
  font-style: italic;
}

.emote {
  height: 28px;
}

.message-badge {
  height: 18px;
  margin-right: 3px;
}

.badge-container {
  height: 28px;
}
