.infos {
  font-size: 12px;
  padding: 24px;
}

.info-container {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding: 1px;
}

.info-key {
  font-weight: bold;
  padding-right: 6px;
  color: rgb(106, 171, 255);
}

.info-chunk {
  padding: 12px;
  margin-top: 12px;
  background-color: rgb(25, 25, 36);
  border-radius: 12px;
}

.info-edit {
  margin-left: 6px;
  color: rgb(176, 115, 211);
  cursor: pointer;
}

.inline {
  display: flex;
  flex-direction: row;
  padding: 2px;
  background-color: rgb(41, 41, 59);
  margin: 2px;
  border-radius: 6px;
}

.alert-inline {
  padding: 2px;
  margin: 2px;
  background-color: rgb(179, 32, 32);
  font-size: 14px;
  border-radius: 6px;
}

.success {
  background-color: #21c975;
}

.updated {
  font-size: 14px;
  margin-top: 6px;
  /* color: #21c975; */
  font-style: italic;
}
