.display-robot-server-img {
  width: 64px;
  border-radius: 24px;
}

.add-server {
  background-color: rgb(33, 33, 37);
  /* border: dashed 1px rgb(170, 170, 170); */
  width: 64px;
  height: 38px;
  padding-top: 8px;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* .align-add-server {
} */

.display-robot-server {
  font-size: 12px;
  margin-bottom: 8px;
}

.display-robot-server-container:hover {
  background-color: rgb(74, 74, 95);
  cursor: pointer;
}

.selected-server {
  border-left: 6px solid cyan;
}

.robot-server-container {
  background-color: rgb(57, 57, 75);
  width: 100px;
  padding-top: 8px;
}

.list-channels-container {
  background-color: rgb(70, 70, 99);
  width: 200px;
}

.list-channels {
  font-size: 14px;
  cursor: pointer;
  margin: 5px 5px 5px 6px;
  text-align: left;
  padding-left: 3px;
}

.list-channels:hover {
  background-color: rgb(83, 83, 119);
}
.list-channels-selected {
  border-left: 6px solid cyan;
  margin: 5px 5px 5px 0px;
}

.server-channel-container {
  /* border: solid red 2px; */
  display: flex;
  /* position: relative; */
  height: calc(100vh - 48px);
}
