.display-robot-server-img {
  width: 64px;
  border-radius: 24px;
}

.add-server {
  background-color: rgb(33, 33, 37);
  /* border: dashed 1px rgb(170, 170, 170); */
  width: 64px;
  height: 38px;
  padding-top: 8px;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* .align-add-server {
} */

.display-robot-server {
  font-size: 12px;
  margin-bottom: 8px;
}

.display-robot-server-container:hover {
  background-color: rgb(74, 74, 95);
  cursor: pointer;
}

.selected-server {
  border-left: 6px solid cyan;
}

.robot-server-container {
  background-color: rgb(57, 57, 75);
  min-width: 90px;
  padding-top: 8px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  /* background-color: red; */
}

.robot-server-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #372e50;
}
.robot-server-container::-webkit-scrollbar {
  width: 0px;
  /* background-color: green; */
}
.robot-server-container::-webkit-scrollbar-thumb {
  background-color: #484d79;
}

.list-channels-container {
  background-color: rgb(70, 70, 99);
  min-width: 200px;

  height: calc(100vh - 72px);
  overflow-y: auto;
}

.list-channels-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #372e50;
}
.list-channels-container::-webkit-scrollbar {
  width: 5px;
  /* background-color: green; */
}
.list-channels-container::-webkit-scrollbar-thumb {
  background-color: #484d79;
}

.channel-container {
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.edit-channel {
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px 5px 5px 0px;
  font-size: 14px;
  cursor: pointer;
}

.list-channels {
  font-size: 14px;
  cursor: pointer;
  margin: 5px 5px 5px 6px;
  text-align: left;
  padding-left: 3px;
  /* background-color: purple; */
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  width: 100%;
}

.list-channels:hover {
  background-color: rgb(83, 83, 119);
}
.list-channels-selected {
  border-left: 6px solid cyan;
  margin: 5px 5px 5px 0px;
}

.server-channel-container {
  display: flex;
  height: calc(100vh - 72px);
}

.server-info-container {
  background-color: rgb(86, 86, 119);
  text-align: left;
  padding: 5px;
}

.display-server-name {
  font-size: 21px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.server-settings {
  font-size: 14px;
  font-style: italic;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  justify-content: flex-end;
  width: 100%;
  color: rgb(172, 172, 172);
  cursor: pointer;
  margin-left: 10px;
}

.server-settings:hover {
  color: cyan;
}

.display-server-info {
  font-size: 14px;
  font-style: italic;
  color: rgb(172, 172, 172);
}

.add-channel {
  font-size: 12px;
  cursor: pointer;
  margin: 5px 5px 5px 6px;
  font-style: italic;
  text-align: left;
  padding: 5px;
  border-radius: 24px;
  background-color: rgb(57, 57, 75);
}

.add-channel:hover {
  border: solid 1px rgb(123, 127, 173);
}
