.register-form {
  padding: 5%;
  background: -webkit-linear-gradient(-45deg, #d64eb8 0%, #003fee 100%);
  /* border-radius: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro {
  border-radius: 12px;
  margin-bottom: 24px;
  margin-top: 24px;
  background: rgb(25, 25, 36);
}

.landing-page {
  padding: 24px;
  font-size: 15px;
}

.landing-logo {
  height: 50%;
  width: 50%;
}
