.btn {
  border-radius: 10px;
  /* background-color: mediumslateblue; */
  color: white;
  border: 0px;
  /* height: 24px; */
  font-size: calc(6px + 2vmin);
  padding: 5px 10px 5px 10px;
  margin: 6px;
  background: -webkit-linear-gradient(-45deg, #954ed6 0%, #009bee 100%);
}

.btn:hover {
  border: 2px solid #f3eb48; /* Green */
  margin: 4px;
}

.btn:active {
  transform: translateY(4px);
}

.error {
  text-align: center;
  margin: 5px 0;
  padding: 5px 10px;
  color: #c92c43;
}
