@import "../../../styles/variables.scss";
@import "../../../styles/mixins/buttonStyles.scss";
@import "../mixins/mixins.scss";

.DeleteChannelForm {
  &__container {
    @include inline-container;
    justify-content: space-between;
  }
  &__label {
    color: $color-remo-pink;
    font-weight: bold;
    align-self: center;
  }
  &__action {
    @include button-inline-gray;
  }
  &__cancel-action {
    @include button-gray;
  }
}
