.make-window {
  border-radius: 24px;
  margin: 24px;
}

.key-name {
  font-weight: bold;
  color: #b251eb;
}

.server-info-card {
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  background: rgb(25, 25, 36);
  min-height: 128px;
  min-width: 128px;
  /* margin-bottom: 12px; */
  padding: 12px;
}

.server-img {
  height: 128px;
  margin-left: 6px;
  margin-top: 6px;
  border-radius: 24px;
}

.details-container {
  padding-left: 12px;
  padding-right: 24px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.larger {
  font-size: 18px;
}
.details {
  margin: 2px;
  text-align: left;
}

a {
  color: rgb(106, 171, 255);
  font-size: 14px;
}

.invite-card {
  padding: 24px;
  background: -webkit-linear-gradient(-45deg, #d64eb8 0%, #003fee 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-text {
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #282c34;
}

.join-container {
  /* background-color: red; */
  background: rgb(25, 25, 36);
  border-radius: 24px;
  margin-top: 12px;
  padding-bottom: 12px;
}
