.make-window {
  border-radius: 24px;
  margin: 24px;
}

.key-name {
  font-weight: bold;
  color: #b251eb;
}

.server-info-card {
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  padding: 6px;
  background-color: #0f1827;
  min-height: 128px;
  min-width: 128px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px;
}

/* .server-img-container {

  background-color: blue;
} */

.server-img {
  /* width: 128px; */

  height: 128px;
  margin-left: 6px;
  margin-top: 6px;
  border-radius: 24px;
}

.details-container {
  padding-left: 12px;
  padding-right: 24px;
  /* background-color: purple; */
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.larger {
  font-size: 18px;
}
.details {
  margin: 2px;
  /* background-color: green; */
  text-align: left;
}
