@import "../../layout/userProfile/mixins/mixins.scss";

.LinkPatreon {
  &__container {
    @include info-container;
  }
  &__key {
    @include info-key;
  }
  &__value {
    @include info-value;
  }
  &__link {
    @include info-edit;
  }
  &__remove {
    @include info-edit-gray;
  }
  &__confirm-container {
    margin-left: 6px;
    padding-bottom: 12px;
  }
}

.link-patreon-container {
  background-color: orange;
}

.padding {
  padding: 6px;
}
