body {
  background: rgba(0, 0, 0);
}

.feedback {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -150px; /* margin is -0.5 * dimension */
  margin-top: -25px;
}
