.App {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}
