@import "../variables.scss";

@mixin inline {
  display: flex;
  flex-direction: row;
  padding: 9px;
  background-color: $color-dark-cool-gray;
  margin: 2px;
  border-radius: 6px;
  font-size: 14px;
  align-items: center;
}

@mixin inline-success {
  @include inline;
  background-color: $color-green-background;
}

@mixin inline-alert {
  @include inline;
  background-color: $color-error-text;
}
