.front-page-container {
  /* background-color: black; */
  overflow-y: auto;
  scrollbar-width: 6px;
  width: 100%;
  font-size: 14px;
  /* background: green; */
}

.front-page-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #372e50;
}
.front-page-container::-webkit-scrollbar {
  width: 6px;
  /* background-color: green; */
}
.front-page-container::-webkit-scrollbar-thumb {
  background-color: #484d79;
}

.front-page-text {
  background-color: rgb(25, 25, 36);
  border-radius: 6px;
  padding: 5%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: rgb(176, 115, 211);
}

.stat {
  color: rgb(106, 171, 255);
  font-weight: bold;
}

.alert {
  font-size: 14px;
  background-color: rgb(179, 32, 32);
  border-radius: 6px;
  padding: 12px;
}

.bolder {
  font-weight: bold;
}

.front-page-link-container {
  /* background-color: red; */
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 848px; */
}

.fp-card {
  background: -webkit-linear-gradient(-45deg, #d64eb8 0%, #003fee 100%);
  margin: 6px;
  min-width: 192px;
  padding: 12px;
  border-radius: 6px;
}

.icon-element {
  width: 96px;
  height: 96px;
}

@media screen and (max-width: 768px) {
  .front-page-link-container {
    flex-direction: column;
  }
}
