.front-page-container {
  /* background-color: black; */
  width: 100%;
  font-size: 14px;
}

.front-page-text {
  background-color: rgb(25, 25, 36);
  border-radius: 6px;
  padding: 5%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: rgb(176, 115, 211);
}

.stat {
  color: rgb(106, 171, 255);
  font-weight: bold;
}

.alert {
  font-size: 14px;
  background-color: rgb(179, 32, 32);
  border-radius: 6px;
  padding: 12px;
}

.bolder {
  font-weight: bold;
}
