.user {
  color: cyan;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-align: right;
}

.user-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.logo {
  /* width: 200px; */
  height: 28px;
}

.nav-container {
  /* position: absolute;
  flex-direction: column;
  left: 0;
  top: 0; */
  display: flex;
  height: 48px;
  background: -webkit-linear-gradient(-45deg, #19191d 0%, #162755 100%);
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  /* margin: 4px;
  padding: 2px; */
}
