.user {
  color: cyan;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-align: right;
}

.user-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.logo {
  /* width: 200px; */
  height: 28px;
}
.mobile-logo {
  height: 36px;
}

.nav-container {
  display: flex;
  height: 48px;
  background: -webkit-linear-gradient(-45deg, #19191d 0%, #162755 100%);
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  /* margin: 4px;
  padding: 2px; */
}

.logo-container-mobile {
  display: flex;
  flex-direction: row;
  margin: 6px;
}

.burger-container {
  display: flex;
  flex-direction: column;
  margin: 6px 0px 6px 6px;
  background-color: rgb(47, 57, 66);
  border-radius: 8px;
  height: 35px;
  min-width: 35px;
  color: white;
  justify-content: center;
}
